@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    scale: 1.5;
    opacity: 0;
  }
}

.about {
  background-color: #0a2750;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  display: flex;
}

.about__title {
  max-width: 251px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  z-index: 2;
}

.about__content {
  margin-top: 119px;
  margin-right: 80px;
  margin-bottom: 173px;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__paragraph {
  font-family: Noto serif, "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  left: -129px;
  top: -152px;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  z-index: 1;
}

.about__circle_animation_blured {
  animation-name: pulsate;
  animation-duration: 1.49s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
