.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  right: 80px;
  top: 30px;
  margin: 0;
}

.nav__link {
  color: black;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

.header {
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.header__title {
  margin-top: 252px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 729px;
}

.header__title-one {
  font-family: Noto serif, Arial, sans-serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin-left: 80px;
  margin-bottom: 28px;
}

.header__title-two {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 28px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-left: 80px;
  max-width: 683px;
  font-family: Noto serif, Arial, sans-serif;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__footer {
  position: absolute;
  left: 0px;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
}
