.header {
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.header__title {
  margin-top: 202px;
  margin-bottom: 28px;
  max-width: 729px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  font-family: Noto serif, "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 0;
  max-width: 683px;
  font-family: Noto serif, "Times New Roman", serif;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__footer {
  position: absolute;
  left: 0px;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}

.header__hours {
  display: flex;
  flex-direction: column;
  margin: 0;
}
