.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.recipes__title {
  margin-top: 100px;
  margin-left: 80px;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  font-family: Noto serif, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.recipes__subtitle__content {
  font-family: Noto serif, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.recipes__videos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto 0;
  gap: 40px;
  max-width: 1000px;
}

.recipes__iframe {
  width: 100%;
  margin-bottom: 215px;
}

.recipes__youtube {
  border: none;
}

.recipes__video-caption {
  display: flex;
  margin: 24px 0 0 0;
  justify-content: space-between;
}

.recipes__caption {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.video-caption__hr {
  flex: 1;
  margin-top: 0;
}
