@import url("normalize.css");

@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    scale: 1.5;
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  right: 80px;
  top: 30px;
  margin: 0;
}

.nav__link {
  color: black;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  margin-top: 252px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 729px;
}

.header__title-one {
  font-family: Noto serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin-left: 80px;
  margin-bottom: 28px;
}

.header__title-two {
  display: block;
  font-family: Inter;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 28px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-left: 80px;
  max-width: 683px;
  font-family: Noto serif;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  position: absolute;
  left: 0px;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-size: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.menu__title {
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  margin-top: 100px;
}

.menu__title-content {
  margin: 0;
}

.menu__subtitle {
  font-family: Noto serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 780px;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
}

.menu__subtitle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__cards {
  display: flex;
  max-width: 1300px;
  min-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.card {
  list-style: none;
  max-width: 600px;
  min-width: 600px;
  flex-basis: 100%;
  padding-left: 0;
}

.card:nth-of-type(2n) {
  list-style: none;
  max-width: 600px;
  min-width: 600px;
  flex-basis: 100%;
  padding-left: 40px;
}

.card__title {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  font-family: Noto serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid white;
}

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  height: 882px;
  width: 1600px;
}

.recipes__title {
  margin-top: 100px;
  margin-left: 80px;
  max-width: 580px;
}

.recipes__title__content {
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
}

.recipes__subtitle__content {
  font-family: Noto serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.recipes__videos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.recipes__iframe {
}

.recipes__iframe-one {
  margin-right: 40px;
}

.video-caption {
  display: flex;
  max-width: 1004.5px;
}

.video-caption__one {
  width: 480px;
  margin-right: 40px;
  margin-top: 24px;
  margin-bottom: 215px;
  display: flex;
  justify-content: space-between;
}

.video-caption__two {
  width: 480px;
  margin-top: 24px;
  margin-bottom: 215px;
  display: flex;
  justify-content: space-between;
}

.video-caption__content {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.video-caption__hr {
  flex: 1;
  margin-top: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.reservation__title-header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  justify-content: center;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  column-gap: 32px;
  max-width: 385px;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  margin-bottom: 32px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.about {
  background-color: #0a2750;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  display: flex;
}

.about__title {
  max-width: 251px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  z-index: 2;
}

.about__content {
  margin-top: 119px;
  margin-right: 80px;
  margin-bottom: 173px;
  max-width: 660px;
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  font-family: Noto serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

.about__paragraph:last-of-type {
  font-family: Noto serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 0;
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  left: -129px;
  top: -152px;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  z-index: 1;
}

.about__circle_animation_blured {
  animation-name: pulsate;
  animation-duration: 1.49s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  display: flex;
  flex-direction: column;
}

.footer__content {
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 100px;
  margin-bottom: 108px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  color: #ffffff;
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer__list {
  font-family: Inter;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-link {
  color: white;
  transition-property: color;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 80px;
  margin-bottom: 60px;
}
